<!DOCTYPE html>
<html>
<head>
    <title>Countries</title>
</head>
<body>
    <p>Click <a href="/popsearch">here</a> to search again.</p>
    <h1>Countries with a population of {{ "{:,}".format(pop) }} or more</h1>

    {% if countries %}
    <table border="1">
        <tr>
            <th>Name</th>
            <th>Population</th>
        </tr>
        {% for country in countries %}
        <tr>
            <td>{{ country["Name"] }}</td>
            <td>{{ "{:,}".format(country["Population"]) }}</td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
        <p>No countries to display.</p>
    {% endif %}
</body>
</html>
